/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header,
.footer {
  background-color: #0070f3;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .error {
  color: red;
  font-size: 12px;
}

button {
  background-color: #0070f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.result-group {
  margin-bottom: 20px;
}

h2 {
  margin: 0 0 10px 0;
  color: white;
}

p,
li {
  margin: 0;
  padding: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; /* Adjust the top margin as needed */
  max-width: 800px; /* Adjust the maximum width as needed */
}

header {
  background: linear-gradient(
    to right,
    #333,
    black
  ); /* Adjust colors as needed */
  padding: 1rem;
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-top {
  flex-direction: row;
  align-items: center;
}

.header-bottom {
  display: flex;
  align-items: center;
  flex-direction: row; /* Ensures elements are displayed side by side */
  color: white;
  margin-top: 100px;
}

.header-bottom-left {
  align-items: right;
  text-align: right;
  flex: 2;
}

.header-bottom-right {
  text-align: left;
  align-items: left;
  flex: 3;
  padding-left: 100px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

.nav-item {
  margin-left: 1rem;
}

.active {
  border-bottom: 5px solid yellow;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #333;
  border-radius: 5px;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-name {
  color: white;
  margin-right: 1rem;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  display: flex;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 2rem;
}

footer a {
  color: #d3d3d3;
  text-decoration: none;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-link-item {
  margin-bottom: 0.5rem;
}

.footer-title-item {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left,
  .footer-right {
    margin-top: 1rem;
  }
}

.footer-on-left,
.footer-on-right {
  padding: 1rem;
  color: #fff;
}

.footer-on-left {
  flex: 2;
  background-color: #3d3d3d; /* Background color for the left side */
  text-align: left;
}

.footer-on-right {
  flex: 3;
  background-color: #2e2e2e; /* Background color for the right side */
  text-align: right;
}

h1 {
  text-align: center;
}

.footer-description {
  color: #d3d3d3;
  text-decoration: none;
}

.newsletter-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #525252;
  background-color: #525252;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

.newsletter-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ffff00;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #ffffed;
}

.movie-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #1e1e1e;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.movie-card {
  background: linear-gradient(
    to bottom,
    #333,
    black
  ); /* Adjust colors as needed */
  padding: 16px;
  border-radius: 4px;
  margin-right: 16px;
  color: white;
}

.first-movie-card {
  grid-column: span 2;
  grid-row: span 1;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-title {
  margin-bottom: 1rem;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
}

.search-input-wrapper svg {
  position: absolute;
  left: 10px;
}

.search-input {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 30px; /* Add this line to make the corners rounded */
}

.date-time-picker {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.datetime-input {
  padding: 0.5rem 2rem 0.5rem 2.5rem; /* Adjust padding as needed */
  font-size: 1rem;
  margin-right: 1rem;
  width: 25%;
  border-radius: 30px;
  position: relative; /* Add position: relative; to the input */
}

.datetime-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10px; /* Adjust left position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.search-button {
  padding: 0.5rem;
  color: black;
  background-color: yellow;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold; /* Add font-weight: bold; */
  width: 150px; /* Adjust width as needed */
  height: 40px;
}

.search-button:hover {
  padding: 0.5rem;
  color: black;
  background-color: lightyellow;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold; /* Add font-weight: bold; */
  width: 150px; /* Adjust width as needed */
  height: 40px;
}

